.users-page {
  display: flex;
  gap: 20px;
}

.user-list {
  width: 300px;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-card {
  padding: 15px;
  background-color: #f1f1f1;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-left: 35px;
}

.user-card:hover {
  background-color: #e1e1e1;
}

.user-edit {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
