.sidebar {
    width: 200px;
    background-color: #343a40;
    color: #fff;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 20px;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .sidebar ul li a:hover,
  .sidebar ul li a.active {
    background-color: #495057;
  }
  
  .sidebar h1 {
    font-size: 18px;
    margin-bottom: 30px;
    color: #e9ecef;
    text-transform: uppercase;
  }
  